<title>移动客户服务软件 | Zendesk</title>

<article class="mobile-product">
<section class="intro">
<div class="content">
<header>
<h1>只需一个客户服务软件,轻松搞定</h1>
<h4>
大客户支持不仅仅只在服务台。Zendesk的移动应用程序为不能使用桌面服务的团队领导人、代理人和工作不固定的人提供帮助。
</h4>
</header>
<form id="mobile-product-form">
<div class="number-input">
<input type="text" name="number" tabindex="1" placeholder="Enter Your Mobile Number">
<div class="field-message">
请输入有效的电弧号码
</div>
</div>
<input type="submit" value="Get the App" tabindex="2" class="cta-button">
</form>
</div>
<div class="ski-scene">
<div class="mountains">
<div class="inner">
<div class="mountains-left">
<div class="chair one"></div>
<div class="chair two"></div>
</div>
<div class="mountains-right">
<div class="skier"></div>
</div>
</div>
</div>
<div class="field">
<div class="inner">
<div class="snowhill left"></div>
<div class="smoke"></div>
<div class="big-cabin"></div>
<div class="deer"></div>
<div class="tree"></div>
<div class="footprints"></div>
<div class="snowhill right"></div>
<div class="small-cabin"></div>
</div>
</div>
<div class="snowflakes"></div>
</div>
</section>
<section class="showcase devices">
<div class="inner">
<header>
<h2>Zendesk移动应用，超乎你的想象</h2>
<h4>代理商可以用移动应用处理工单，清理他们的队列,释放他们的工作量和工作压力。</h4>
<div class="skier-scene">
<div class="inner">
 
<svg class="skier-whoosh" id="53986710-e5a5-4747-8626-de56adb0cc49" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="176.1" height="172.94" viewBox="0 0 176.1 172.94"><title>skier-whoosh-stroke</title><path d="M65.76,171.47H43.55a42,42,0,0,1-42.1-42V128.6A41.88,41.88,0,0,1,37.53,87a40.79,40.79,0,0,1,6-.48H90.36c3.1,0,6.21-.19,9.31-0.48A84.16,84.16,0,0,0,174.55,2.4V1.53h-0.1" transform="translate(0.05 -0.03)" fill="none" stroke="#aed2e0" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/></svg>
<div class="skier"></div>
</div>
</div>
</header>
<section class="device-showcase">
<div class="image">
<div class="device-frame mobile"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/support-mobile-screenshot.png" alt="Zendesk Mobile App Screenshot"></div>
</div>
<div class="content">
<header>
<h3>苹果或安卓用户</h3>
</header>
<ul class="features">
<li>动态地创建新工单,快速更新并使用</li>
<li>通知提醒代理去更新他们分配到的工单</li>
<li>在收到工单后，从电子邮件中立即使用搜索获得之前类似的工单信息。</li>
<li>通过过滤器工单队列的提示，可以更快速的进行到下一个工单</li>
</ul>
<ul class="links">
<li><a href="//itunes.apple.com/app/id1174276185?mt=8" target="_blank"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/icon-apple-app-store.png" alt="Zendesk for iPhone"></a></li>
<li><a href="//play.google.com/store/apps/details?id=com.zendesk.android&amp;hl=en" target="_blank"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/icon-android-app-store.png" alt="Zendesk for Android"></a></li>
</ul>
</div>
</section>
<section class="device-showcase tablet">
<div class="image">
<div class="device-frame tablet"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/screenshot-tablet.jpg" alt="Zendesk for iPad Screenshot"></div>
</div>
<div class="content">
<header>
<h3>iPad用户</h3>
</header>
<ul class="features">
<li>完全访问报告和分析，可以持续保持领先地位的关键性能指标</li>
<li>工单快速分类和快速回复</li>
<li>通过代理仪表板来概述个人或团队的队列</li>
</ul>
<ul class="links">
<li><a href="//appsto.re/us/Nf2-v.i" target="_blank"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/icon-apple-app-store.png" alt="Zendesk for iPad"></a></li>
</ul>
</div>
</section>
</div>
</section>
<section class="pullquote">
<blockquote>
<p>&#8220;我们的代理商对客户感到深深的责任。如果人们外出或他们离开他们的办公桌,Zendesk移动代理应用程序是一个最佳的方式来记录工单或查看工单更新。&#8221;</p>
<cite>Slack客户案例主管Ali Rayl</cite>
<img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/logo-slack.png" class="logo" alt="Slack">
</blockquote>
</section>
<section class="case-studies">
<article class="case-study day">
<div class="inner">
<div class="content">
<a href="//www.zendesk.com/customer/wharton/" class="logo"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/logo-wharton.png" alt="Wharton University of Pennsylvania"></a>
<h3>宾夕法尼亚大学沃顿商学院的IT团队处理工单就用这种方式。 <a href="//www.zendesk.com/customer/wharton/">查看更多</a></h3>
</div>
<div class="sky-scene">
<div class="sun"></div>
<div class="snowflakes"></div>
</div>
</div>
</article>
<article class="case-study night">
<div class="inner">
<div class="content">
<a href="//www.zendesk.com/customer/sure/" class="logo"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/logo-sure.png" alt="Sure"></a>
<h3>确保现场工作人员的工单持续更新<a href="//www.zendesk.com/customer/sure/">坚持不懈</a></h3>
</div>
<div class="sky-scene">
<div class="moon"></div>
<div class="stars"></div>
</div>
</div>
</article>
<div class="hills"><div class="inner"></div></div>
</section>
<section class="showcase zopim">
<div class="inner">
<a href="//www.zopim.com/" class="logo" title="Zendesk Chat"></a>
<header>
<h2>随时随地交流</h2>
<h4>Zendesk聊天软件也可以随时与代理商保持同步</h4>
</header>
<section class="device-showcase">
<div class="image">
<img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/chat-mobile.png" alt="Zendesk Chat Mobile Screenshot" width="207px" height="412px">
</div>
<div class="content">
<header>
<h3>苹果用户和安卓用户</h3>
</header>
<ul class="features">
<li>对传入的消息和访客匹配客户的喜好，</li>
<li>通过网站浏览访客列表主动开始聊天，</li>
<li>一次聊天服务多人，避免客户等待。</li>
</ul>
<ul class="links">
<li><a href="//itunes.apple.com/us/app/zopim-live-chat-for-iphone/id549057844?mt=8" target="_blank"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/icon-apple-app-store.png" alt="Zendesk for iPhone"></a></li>
<li><a href="//play.google.com/store/apps/details?id=com.zopim.android&amp;hl=en" target="_blank"><img src="//d1eipm3vz40hy0.cloudfront.net/images/p-mobile-refresh/icon-android-app-store.png" alt="Zendesk for Android"></a></li>
</ul>
</div>
</section>
</div>
</section>
<section class="trial">
<div class="inner">
<a href="//fast.wistia.net/embed/iframe/3rzbtke16a?autoPlay=true&amp;controlsVisibleOnLoad=true&amp;playButton=false&amp;image_play_button=true&amp;playerColor=030303&amp;plugin%5Bsocialbar-v1%5D%5BbadgeImage%5D=http%3A%2F%2Fwww.zendesk.com%2Fdownloads%2Flogos%2Fzen_powerbadge_small.png&amp;plugin%5Bsocialbar-v1%5D%5BbadgeUrl%5D=http%3A%2F%2Fzendesk.com&amp;plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=embed-email-twitter-facebook&amp;plugin%5Bsocialbar-v1%5D%5Blogo%5D=true&amp;popover=true&amp;version=v1&amp;videoHeight=540&amp;videoWidth=960&amp;volumeControl=true" class="button-play  wistia-popover[width=960,height=566,playerColor=#636155]"></a>
<div class="content">
<h2>Zendesk的移动应用</h2>
<h4>在山顶就像在沙发一样。</h4>
<a href="/register/" class="cta-button">试用Zendesk</a>
</div>
</div>
</section>
</article>
</div>
<div class="clearfix"></div>