<footer class="clear">
<div class="sitemap mega-footer">
<div class="col-960">
<nav class="primary-menu-list-wrap">
<ul id="menu-footer-navigation" class="primary-menu-list">
<li id="smartling-nav-footer-product" class="SL_swap menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children list-parent "><a href="/support/">我们的产品</a>
<div class="primary-menu-list-dropdown"><span class="pin"></span>
<ul>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/support/">技术支持</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/help-center/">帮助中心</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/chat/">在线咨询</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/talk/">技术交流</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/message/">信息查询</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/inbox/">邮件提醒</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/explore/">技术开发</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/connect/">联系我们</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/apps/">集成与应用</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/embeddables/">功能嵌入</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/zendesk-insights/">对比分析</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/whats-new/">产品更新</a></li>
</ul>
</div>
</li>
<li id="smartling-nav-footer-features" class="SL_swap menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children list-parent "><a href="/">版本更新</a>
<div class="primary-menu-list-dropdown"><span class="pin"></span>
<ul>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/help-desk-software/features/ticketing-system/">工单系统</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/help-center/knowledge-base-software/">知识库</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/help-center/community-software/">社区论坛</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/help-desk-software/">桌面帮助软件</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_hide"><a href="/internal-help-desk/it-help-desk-software/">IT桌面支持</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/product/zendesk-security/">安全防护</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/product/tech-specs/">技术领域</a></li>
</ul>
</div>
</li>
<li id="smartling-nav-footer-resources" class="SL_swap menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children list-parent "><a href="/resources/">资源优势</a>
<div class="primary-menu-list-dropdown"><span class="pin"></span>
<ul>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="//support.zendesk.com/hc/en-us/">产品支持</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/demo/">功能展示</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/resources/">文献资料</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_norewrite"><a href="/blog/">Zendesk博客</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/support/webinars/">在线研讨</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/customer-experience/training/#training">人才培训</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_hide"><a href="http://developers.zendesk.com">应用程序及开发</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/partners/">服务与合作伙伴</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_hide"><a href="/lp/retail/">代理商</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="https://relate.zendesk.com/">与Zendesk相关</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/why-zendesk/customers/">客户案例</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/customer-experience/">产品服务</a></li>
</ul>
</div>
</li>
<li id="smartling-nav-footer-company" class="SL_swap menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children list-parent "><a href="/about/">公司</a>
<div class="primary-menu-list-dropdown"><span class="pin"></span>
<ul>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/about/">关于我们</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/company/press/">新闻动态</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="http://investor.zendesk.com">赞助商</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/jobs/">招贤纳士</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="http://www.neighborfoundation.org/">基础设施</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/support/contact/">联系我们</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/sitemap/">网站导航</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="https://status.zendesk.com">系统状态</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="https://help.zendesk.com/hc/en-us">产品帮助</a></li>
</ul>
</div>
</li>
<li id="smartling-nav-footer-favorites" class="SL_swap menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children list-parent "><a href="/">Favorite Things</a>
<div class="primary-menu-list-dropdown"><span class="pin"></span>
<ul>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/startups/">Zendesk创新</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_hide"><a href="http://relate.zendesk.com/articles/shit-support-agents-say/">代理商</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children SL_hide"><a href="https://www.youtube.com/watch?v=wPtnoRqQa5U">Zoe Calls Home</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/benchmark-your-support/">Zendesk基准</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/small-business/">Zendesk的小企业产品</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="/resources/gartner-magic-quadrant-crm/">Gartner CRM Magic Quadrant</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom no_children "><a href="https://relate.zendesk.com/education/interview-questions-hiring-great-customer-service-reps/">团队招聘</a></li>
</ul>
</div>
</li>
</ul>
<div style="clear: both;"></div>
</nav> 
<div id="newsletter-form" class="newsletter-sub">
<h3>展开进入</h3>
<p>邮件列表中的人可以加入我们的精英团队。</p>
<form id="newsletter" class="form-gray" method="post" name="eloquaform">
<label class="success"><span></span>欢迎加入！</label>
<ul>
<li class="error">
<div class="depth-wrap">
<input name="owner[email]" id="owner[email]" type="text" placeholder="What&apos;s your email?" class="email">
<a class="register"></a>
</div>
<label style="display: block; opacity: 1;"><span></span>请使用有效邮箱</label>
</li>
<li style="display:none">  
<input type="hidden" name="elqFormName" id="elqFormName" value="WebsiteNewsletterSignup_new">
</li>
</ul>
</form>
<div class="l-island l-island-right social clear">
<span itemscope itemtype="https://schema.org/Organization">
<link itemprop="url" href="https://www.zendesk.com">
<a itemprop="sameAs" href="//plus.google.com/+zendesk" class="ent-text ico-gplus" rel="publisher">&#59639;</a>
<a itemprop="sameAs" href="//www.facebook.com/zendesk" class="ent-text ico-facebook">&#59636;</a>
<a itemprop="sameAs" href="//www.twitter.com/zendesk" class="ent-text ico-twitter">&#59634;</a>
<a itemprop="sameAs" href="//www.linkedin.com/company/zendesk" class="ent-text ico-linkedin">&#59645;</a>
<a itemprop="sameAs" href="http://www.slideshare.net/zendesk" class="ent-text ico-slideshare"></a>
<a itemprop="sameAs" href="//instagram.com/zendesk/" class="ent-text ico-instagram">&#59657;</a>
</span>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
<div class="legal clear">
<div class="col-960">
<a href="//www.zendesk.com/company/customers-partners/#terms-of-use">使用条款</a>
<a href="//www.zendesk.com/company/customers-partners/#privacy-policy">隐私声明</a>
<a href="//www.zendesk.com/company/customers-partners/#cookie-policy">优惠政策</a>
<a href="https://www.zendesk.com/legal/">&copy;Zendesk 2016</a>
</div>
</div>
<div class="universe-search">
<div class="universe-search-close ent-text"></div>
<div class="col-960">
<div class="universe-search-help"><span class="universe-search-help-count">0</span> 没有结果。<br/>再试一次？</div>
<div class="universe-search-form">
<span class="universe-search-icon ent-text"></span>
<input type="text" name="search" class="universe-search-input" placeholder="Start typing to get your search on..." value=""/>
</div>
<div class="universe-search-results"></div>
<div class="universe-search-pagination" style="display:none">
<ol class="universe-search-pagination-list"> </ol>
</div>
</div>
</div>
<div class="search">
<div class="col-960">
<a href="javascript:;" class="search-launcher"><span class="ent-text icon"></span>搜索<span class="cursor"></span></a>
</div>
</div>
<div class="clearfix"></div>
</footer>

<!--this is a footer js file-->
<script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js" data-apikey="14b4da2b1698aa9ce8da80a183366f26"></script>
<script type="text/javascript" src="//api.demandbase.com/api/v2/ip.js?key=cb334198e711721abab9b3d4c785e482544ca07f&var=dbase"></script>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/plugins.min.9eed7a26.js"></script>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/webutils.min.a4f9eb1c.js"></script>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/global.min.04c36daa.js"></script>
 
<script type="text/javascript">
  webutils.styleHeader();
  webutils.gauge();

  var emeaCountryCodes = new Array('UK', 'GB', 'IM', 'GI', 'JE', 'GG', 'AT', 'BE', 'CY', 'EE', 'FI', 'FR', 'DE', 'EL', 'IE', 'IT', 'LV', 'LU', 'MT', 'NL', 'PT', 'SK', 'SI', 'ES', 'MC', 'VA', 'SM', 'ME', 'MC', 'LU', 'XK', 'KV', 'GR', 'AD')
    , emeaDomainNames  = new Array('www.zendesk.de', 'www.zendesk.es', 'www.zendesk.fr', 'www.zendesk.it', 'www.zendesk.nl');

  if((typeof dbase !== 'undefined' && $.inArray(dbase.registry_country_code, emeaCountryCodes) > -1) || $.inArray(window.location.hostname, emeaDomainNames) > -1) {
    webutils.cookieNotice();
  }

  webutils.loadEloqua();
</script>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/skrollr.min.js"></script>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/p-explore.min.6fadad7b.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  Explore.init();
});
</script>
<div id="ouibounce-modal">
<div class="dim-backg">
<div class="center-modal">
<div class="upper-row">
<div class="x-close">X</div>
</div>
<div class="lower-row">
<h2>参加我们的现场产品演示</h2>
<h3>我们会让你了解系列产品，解答关于Zendesk问题</h3>
<a href="/demo/#demo-form" class="sched-demo">安排演示</a>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="https://d1eipm3vz40hy0.cloudfront.net/js/ouibounce.min.f91b9be1.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // Show Modal on Exit
    ouibounce(document.getElementById('ouibounce-modal'), {
      sensitivity: 40,
      cookieExpire: 1,
      sitewide: true,
      callback: function() {
        webutils.track('Marketing - Impression - Bounce Popup');
      }
    });

    // Hide modal
    $('.dim-backg').click(function(){
      $('#ouibounce-modal').fadeOut();
    });
  });
</script>
<script type="text/javascript">
  dataLayer = [];
</script>
 
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-Z4DV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 
<script>
  if (!window.potentialBot) {
    webutils.loadGTM();
    webutils.processGA();
    webutils.saveEloquaGuid();
  }
</script>
