<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"> 
<head>
<title>Zendesk | Customer Service Software &amp; Support Ticket System</title>

<article class="home-tour home-golion">
<span style="position: absolute; z-index: -999;">
<img src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/on-combined-2X.png" alt="" width="0" height="0"/>
<img src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/hover-combined-2X.png" alt="" width="0" height="0"/>
</span>
<article class="mod-block hero-background">
<div class="video-outer-wrapper">
<div class="video-inner-wrap">
<video id="hero-video" class="hero-video">
<source src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/HomepageHero_1x.webm" type="video/webm; codecs=vp8,vorbis">
<source src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/HomepageHero_1x.mp4" type="video/mp4">
<source src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/HomepageHero_1x.ogv" type="video/ogg; codecs=theora,vorbis">
</video>
</div>
<div class="video-cta-wrapper SL_swap" id="video_id_reintroducing_zendesk">
<a href="//fast.wistia.com/embed/iframe/sxpw0wdxff?autoPlay=true&popover=true" class="wistia-popover[height=568,playerColor=7b796a,width=960] video-play-cta">Watch the video</a>
</div>
</div>
<section class="mod-section">
<div class="content">
<div class="row the-hero">
<div class="inner">
<div class="video-container">
</div>
<div class="center">
<h1>Let&apos;s make things better</h1>
<div class="sub">Zendesk builds software for better customer relationships</div>
</div>
</div>  
</div>
</div>
</section>
</article>  
<article class="mod-block zendesk-family">
<div class="content">
<section class="mod-section">
<div class="inner">
<div class="center relationship-text">
<p>
Good relationships take work. They require knowledge and the tools to get the <br class="hide-mobile"> job done right. That&apos;s what Zendesk is for.
</p>
<p>
<span>Our products allow businesses to be more reliable, flexible, and scalable.</span>
<br>
<span>They help improve communication and make sense of massive amounts of data.</span>
<br>
<span>Above all, they help you turn interactions into lasting relationships.</span>
</p>
</div>
<div class="center zendesk-family-products">
<a class="product-link" href="/support/">
<span class="feature-icon-common icon-support"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-support.png" alt="Zendesk Support logo" width="72" height="25"/>
</a>
<a href="/help-center/" class="product-link">
<span class="feature-icon-common icon-help-center"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-help-center.png" alt="Zendesk Help Center logo" width="72" height="25"/>
</a>
<a href="/chat/" class="product-link">
<span class="feature-icon-common icon-chat"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-chat.png" alt="Zendesk Chat logo" width="72" height="25"/>
</a>
<a href="/talk/" class="product-link">
<span class="feature-icon-common icon-talk"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-talk.png" alt="Zendesk Talk logo" width="72" height="25"/>
</a>
<a href="/message/" class="product-link">
<span class="feature-icon-common icon-message"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-message.png" alt="Zendesk Message logo" width="72" height="25"/>
</a>
<a href="/connect/" class="product-link">
<span class="feature-icon-common icon-connect"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-connect.png" alt="Zendesk Connect logo" width="72" height="25"/>
</a>
<a href="/explore/" class="product-link">
<span class="feature-icon-common icon-explore"></span>
<img class="product-logo" src="//d1eipm3vz40hy0.cloudfront.net/images/p-home/relation-shapes-logo-explore.png" alt="Zendesk Explore logo" width="72" height="25"/>
</a>
</div>
<div class="center cta-section">
<a class="btn btn-content-cta" id="home-whats-new" href="/whats-new/">See what&apos;s new</a>
<a class="btn btn-conversion-cta" id="home-demo-request" href="/demo/">Request a demo</a>
</div>
</div>
</section>
</div>
</article>
</article>
<script charset="ISO-8859-1" src="//fast.wistia.net/static/popover-v1.js"></script>
</div>
<div class="clearfix"></div>
